<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Collection</title>
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <img src="../img/haq.png" alt="Dumbways Logo" style="width: 70px" />
        <a href="collections.html" class="nav-button" style="font-weight: 700"
          >Collections</a
        >
      </div>

      <div class="navbar-right">
        <a href="login.html" class="nav-button">Login</a>
        <a href="register.html" class="nav-button">Register</a>
      </div>
      <div class="hamburger-menu">
        <i class="fas fa-bars" onclick="toggleHamburgerMenu()"></i>
      </div>
    </nav>

    <section id="add-collection">
      <div class="form-container">
        <h1>Add New Collection</h1>
        <form id="collectionForm">
          <div class="form-group">
            <label for="collectionName">Collection Name</label>
            <input
              type="text"
              id="collectionName"
              name="collectionName"
              placeholder="Enter collection name"
              required
            />
          </div>

          <div class="form-group">
            <label for="collectionDescription">Description (Optional)</label>
            <textarea
              id="collectionDescription"
              name="collectionDescription"
              placeholder="Add a description (e.g., 'My daily tasks')"
            ></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="submit-button">Add Collection</button>
          </div>
        </form>
      </div>
    </section>

    <script>
      const collectionForm = document.getElementById("collectionForm");
      collectionForm.addEventListener("submit", function (e) {
        e.preventDefault();
        const name = document.getElementById("collectionName").value;
        const description =
          document.getElementById("collectionDescription").value ||
          "No description";
        alert(
          `New collection added:\nName: ${name}\nDescription: ${description}`
        );

        collectionForm.reset();
        window.location.href = "collections.html";
      });
    </script>
  </body>
</html>
